#fondo{
  background-color: black;
}

#fondo2{
    background-color: rgb(255, 255, 16);
  } 

  h1{
    text-align: center;
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
    color: darkgrey;
  }
  .imagen1 {
    width: 600px;
    height: auto;
    margin: 15px;
    padding: 5px;
    display: block;
    margin: auto;
    }
    h2{
      text-align: center;
      font-size: 30px;
      font-family: 'DM Serif Display', serif;
      color: darkgrey;
    }
    .primerbotón {
      width: 90px; 
      margin-left: 39%;
      transform:translateX(-40%);
      text-decoration:none;
      font-weight:center;
      font-size: 20px;
      color:#faf6f6;
      padding-top:15px;
      padding-bottom:15px;
      padding-left:40px;
      padding-right:40px;
      background-color:#6e52eb;
      border-color: #6c41bb;
      border-width: 3px;
      border-style: solid;
      border-radius:35px;
      }

.segundobotón{
  text-decoration:none;
font-weight: center;
font-size: 20px;
color:#faf6f6;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#6e52eb;
border-color: #6c41bb;
border-width: 3px;
border-style: solid;
border-radius:35px;
}

.botonreplay{
      width: 90px; 
      margin-left: 39%;
      transform:translateX(-40%);
      text-decoration:none;
      font-weight:center;
      font-size: 30px;
      color:#faf6f6;
      padding: top 15px;
      padding: bottom 15px;
      padding-left:50px;
      padding-right:  50px;
      background-color:#3e3c44;
      border-color: #b0aeb3;
      border-width: 5px;
      border-style: solid;
      border-radius:35px;
}
#imagen2{ 
  width: 800px;
    height: auto;
    margin: 15px;
    padding: 5px;
    display: block;
    margin: auto;
    }

.texto1{
  text-align: center;
  margin: auto;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.error{
  text-align: center;
  color: darkgray;
  font-size: 35px;
}

#grande{
  text-align: center;
  color: darkgray;
  font-size: 120px;
}

#fondo3{
  background-color: darkred;
}

img{
  width: 500px;
  height: auto;
  margin: 15px;
  padding: 5px;
  display: block;
  margin: auto;
}
